a, p, li, h1, h2, h3{
    font-family: 'Comfortaa', 'Ubuntu';
}
a{
    font-size: 16px;
}
h1, h2{
    font-weight: 100;
}
h2{
    font-size: 30px;
}
h1{
    font-size: 50px;
}
p, li{
    font-size: 20px;
}

html{
    scroll-behavior: smooth;
}

#header {
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-bottom: solid;
    border-bottom-color: rgb(29, 28, 28);
    border-bottom-width: 1px;
    background-image: linear-gradient(to right,rgba(247, 222, 3, 0.95), rgba(247, 222, 3, 0.01))
}
#header img{
    float: left;
    margin-top: 5px;
    margin-left: 65px;
    width: 18%;
    height:7%;
}
#navigationBar{
    overflow: hidden;
    margin-right: 30px;
    padding: 0;
    border-bottom: solid;
    border-bottom-color: rgb(29, 28, 28);
    border-bottom-width: 1px;
    background-image: linear-gradient(to right,rgba(10, 10, 10, 0.95), rgba(32, 31, 31, 0.1))
    
}
#navigationBar a{
    float: right; 
    margin-right: 3%;  
    text-align: center;
    padding: 1% 1%;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#navigationBar a:hover{
    color:rgb(238, 198, 19);
}

body{
    margin: 0px;
    background-image: url(../images/SidebarGravel_2.jpg);
}

#left-column{
    float: left;
    width: 5%;
}
#left-column p{
    color: rgba(0, 0, 0, 0);
    float: left;
}

/* Everything in the middle column  */
#middle-column{
    float:left;
    width: 90%;
    height: 100%;
    border-left: solid;
    border-left-color: rgb(53, 31, 2);
    border-left-width: 1px;
    border-right: solid;
    border-right-color: rgb(53, 31, 2);
    border-right-width: 1px;
    background-color: rgba(253, 253, 253, 0.85);
}
#firma-tutvustus{
    margin: 10px;
    padding: 5px;
    float: left;
    text-align: left;
    margin-left: 7%;
    margin-top: 7%;
}
#firma-tutvustus-pic img{
    width: 21%;
    height: 21%;
    margin: 18% 7% 10px 7%;
    float: right;
    
}
#pakutavad-teenused ul{
    text-align: left;
    float: right;
    margin: 10% 20px 10px 0px;
    width: 30%;
    padding: 5px;
    font-size: 20px;   
}
#pakutavad-teenused li{
    padding: 5px;
}
#pakutavad-teenused img{
    margin: 10% 4% 4% 9%;
    padding: 0;
    width: 33%;
    height: 33%;
    float: left;

}
#tehnika {
    margin: 17% 7% 7% 7%;
    text-align: left;
    float: left;
}
#tehnika p{
    margin-left: 40px;
}
#tehnika-pic img{
    float: right;
    width: 25%;
    height: 25%;
    margin: 15% 15% 5% 5%;
}
#hinnakiri {
    margin: 11% 7% 7% 3%;
    text-align: left;
    float: right;
}
#hinnakiri li{
    padding: 5px; 
}
#hinnakiri p{
    margin: 0px 0px 0px 40px;
}
#hinnakiri-pic img{
    margin: 14% 10% 4% 8%;
    float: left;
    width: 18%;
    height: 18%;
}
#right-column{
    float: right;
    width: 5%;
}
/* Everything in the footer */
#footer{
    overflow: hidden;
    border-top: solid;
    border-top-color: black;
    border-top-width: 1px;
    float: left;
    padding: 0px;
    width: 100%;
    margin-right: 0px;
    background-color: rgba(20, 20, 20, 0.995);
}
#footer p{
    font-size: 14px;
    color: rgb(238, 198, 20);
}
#kontaktandmed{
    margin: 5px;
    margin-left: 22%;
    padding: 0;
}
#firma-andmed{
    float: left;
    margin-left: 5%;
}
#panga-andmed{
    position: relative;
    left: 31%;
    bottom: 4,5%;   
}

/* Media Queries */
@media screen and (min-width: 1610px){
    a{
        font-size: 21px;
    }
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 40px;
    }
    p, li{
        font-size: 25px;
    }
    #tehnika{
        margin-bottom: 4%;
    }
}
@media screen and (max-width: 1280px){
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 25px;
    }
    p, li{
        font-size: 15px;
    }
    a{
        font-size: 13px;
    }
    #footer p{
        font-size: 12px;
    }
    #firma-tutvustus-pic img{
        margin-top: 15%;
    }
    #pakutavad-teenused img{
        margin-bottom: 0%;
    }
}
@media screen and (max-width: 940px){
    a{
        font-size: 10px;
    }
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 20px;
    }
    p, li{
        font-size: 10px;
    }
    #footer p{
        font-size: 10px;
    }
}
@media screen and (max-width: 1950px){
    #pakutavad-teenused img{
        margin-bottom: 0%;
    }
    #tehnika-pic img{
        margin-top: 12%;
    }
}